*.log
/remail/llm/models_
/remail/llm/db
*.gguf
__pycache__
/llm/db
database.db
database.db.wal
MemStorage.txt
/remail/database/attachments

# Pixi
.pixi/

# Testing
.pytest_cache/
test-results.xml
*.pyc
.coverage
coverage.json
htmlcov/

# IDE
.vscode/
.idea/
*.swp
*.swo

# ENV
.venv
.env
.DS_Store
**/.DS_Store
